<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_code_red">

    <select id="getAllCodeReds" resultMap="BaseResultMap" parameterType="map">
        <include refid="re_code_red.SELECT_All_Column"/>
        FROM    re_code_red
        WHERE   '1'='1'
        <if test="customerName != null">
            AND customer_name LIKE CONCAT('%',#{customerName,jdbcType=VARCHAR},'%')
        </if>
        <if test="codeStatus != null">
            AND code_status = #{codeStatus,jdbcType= TINYINT}
        </if>
        ORDER   BY code_id ASC
    </select>

    <select id="getCodeRedListNum" resultType="int" parameterType="map">
        SELECT  COUNT(*)
        FROM    re_code_red
        WHERE   '1'='1'
        <if test="customerName != null">
            AND customer_name LIKE CONCAT('%',#{customerName,jdbcType=VARCHAR},'%')
        </if>
        <if test="codeStatus != null">
            AND code_status = #{codeStatus,jdbcType= TINYINT}
        </if>
    </select>

    <select id="selectLockCodeRedById" parameterType="int" resultMap="BaseResultMap">
        <include refid="re_code_red.SELECT_All_Column"/>
        FROM    re_code_red
        WHERE   code_id = #{codeId,jdbcType=INTEGER}
        FOR   UPDATE
    </select>

</mapper>