<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_navigation">

    <resultMap id="SelectByPageResultMap" type="com.envolope.oss.model.dto.NavigationPageDto"
               extends="re_navigation.BaseResultMap">
    </resultMap>

    <select id="getAllNavigation" resultMap="BaseResultMap">
        <include refid="re_navigation.SELECT_All_Column"/>
        FROM re_navigation
        ORDER BY navigation_order ASC
    </select>

    <select id="selectCount" resultType="long">
        SELECT COUNT(*) FROM re_navigation
    </select>

    <select id="selectByPage" resultMap="SelectByPageResultMap">
        SELECT * FROM re_navigation ORDER BY navigation_order ASC
        LIMIT #{start,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

</mapper>