<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_package">

    <select id="selectAll" resultMap="BaseResultMap">
        <include refid="re_package.SELECT_All_Column"/>
        FROM re_package
    </select>

</mapper>