<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_password_red">

    <select id="getNum" resultType="int">
        SELECT COUNT(*)
        FROM    re_password_red
    </select>

    <select id="getList" resultMap="BaseResultMap">
        <include refid="re_password_red.SELECT_All_Column"/>
        FROM re_password_red
        ORDER BY create_time DESC
    </select>

    <select id="selectByPrimaryKeyAndLock" resultMap="BaseResultMap" parameterType="long">
        <include refid="re_password_red.SELECT_All_Column"/>
        FROM re_password_red
        WHERE id = #{redId,jdbcType=BIGINT}
        FOR UPDATE
    </select>

</mapper>