<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_share_mission">

    <select id="getList" resultMap="BaseResultMap">
        <include refid="re_share_mission.SELECT_All_Column"/>
        FROM re_share_mission
        ORDER BY create_time DESC
    </select>

    <select id="getNum" resultType="int">
        SELECT COUNT(*)
        FROM    re_share_mission
    </select>

    <select id="selectByPrimaryKeyAndLock" resultMap="BaseResultMap" parameterType="long">
        <include refid="re_share_mission.SELECT_All_Column"/>
        FROM re_share_mission
        WHERE mission_id = #{missionId,jdbcType=BIGINT}
        FOR UPDATE
    </select>

</mapper>