<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_user_commission_withdraw">


    <select id="getAllCommissions" parameterType="map" resultMap="BaseResultMap">
        <include refid="re_user_commission_withdraw.SELECT_All_Column"/>
        FROM    re_user_commission_withdraw
        WHERE   '1'='1'

        <if test="status != null">
            AND withdraw_status = #{status,jdbcType=INTEGER}
        </if>
        <if test="startTime != null">
            AND apply_time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
        </if>
        <if test="endTime != null">
            AND apply_time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
        </if>
        <if test="cellphone != null">
            AND user_id IN (SELECT user_id FROM re_user WHERE mobile = #{cellphone,jdbcType=VARCHAR})
        </if>
        ORDER BY  apply_time DESC
    </select>

    <select id="getCommissionNum" parameterType="map" resultType="int">
        SELECT  COUNT(*)
        FROM    re_user_commission_withdraw
        WHERE   '1'='1'

        <if test="status != null">
            AND withdraw_status = #{status,jdbcType=INTEGER}
        </if>
        <if test="startTime != null">
            AND apply_time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
        </if>
        <if test="endTime != null">
            AND apply_time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
        </if>
        <if test="cellphone != null">
            AND user_id IN (SELECT user_id FROM re_user WHERE mobile = #{cellphone,jdbcType=VARCHAR})
        </if>
    </select>

</mapper>